// src/styles/colors.scss

// 기본 색상 변수 정의
$colors: (
  first: #333333,  // 글자 색 (어두운 회색)
  second: #007bff, // 포인트 색 (파란색)
  third: #f4f7f6,  // 배경색 (연한 회색)
  forth: #ffffff,  // 흰색 배경
  fifth: #666666,  // 부드러운 회색
);

// 강조 색상
$highlight: #1a73e8;  // 버튼이나 링크에 사용 (밝은 파란색)
$hover: #f0f0f0; // 버튼 호버 시 색상 (밝은 회색)


// src/styles/article.scss
.article-wrapper {
    align-items: center;
    border-radius: 5px;
    background-color: map-get($colors, fifth);
  }
  
  .article-header {
    text-align: center;
    color: map-get($colors, first);
    font-weight: bold;
    margin-bottom: 20px;
  }
  .half-highlight {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 55%,
      lighten(#59452c, 35%) 50%
    );
    width: fit-content;
  }
  
  .article-btn {
    background-color: map-get($colors, third);
    color: map-get($colors, fifth);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
  
    &:hover {
      background-color: map-get($colors, second);
    }
  }
  